@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";

#TestCase{
    width: 100%;
    height: 500px;
    background-color: red;
    
}

#DASHBOARD{
    
    background: whitesmoke;
}