@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";
#topnavid
{

      
    a{
        color:whitesmoke;
        text-decoration: none;

        // background-color:#f4511e;


        border-bottom: 1px solid transparentize(#fefefe, 1);
        transition: border-bottom .5s;
        transition-timing-function: ease-in-out;

        &:hover {
            $base-color:#f4511e;
            border-bottom: 1px solid opacify(#fefefe, 0.5);
            background-color:darken($base-color, 20%);
            //   color:#f4511e;

            border: 1px solid darken($base-color, 20%);
            text-shadow: 0 -1px 0 darken($base-color, 10%);
            border: 2px solid red;

            border-radius: 25px;

        }

    } 

    .navbar{

        // background-color:#f4511e;
        background-color:#299617;
    }


    @media (max-width: 950px) {
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;

        }
        .navbar-collapse {
            //  border-top: 5px solid transparent;
            // box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            // display: none!important;
        }

        .navbar-nav>li {
            //  float: none;
        }


    }







} 


#package{
  @include adjust_scroll($device_scroll_break, 540px);
 
    .card-deck .card {
        margin-left: 15px;
        margin-right: 15px;
    }

    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }

    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }


    .card{

      
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 6px;
        box-shadow: 5px 10px #888888;

        /* max-width: 350px;*/
    }

    .cardSet0{
        background-color: #669999;
    }

    .cardSet1{
        background-color: #cc6666;
    }

    .cardSet2{
        background-color: #cc9966;
    }




    .card-content-body{
        padding: 0.5rem;
    } 
    
     .font_package_heading
    {
        font-family: $headline-font_prof;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }
    
    .roundB {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    
     background: radial-gradient(blue,green);
    border: 0;
    z-index: auto;
 
}
.card-text{
    
    
}

}