#topnavid a
{
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#topnavid a:hover
{
  border-bottom: 1px solid #fefefe;
  background-color: #a42d08;
  border: 1px solid #a42d08;
  text-shadow: 0 -1px 0 #d53b0a;
  border: 2px solid red;
  border-radius: 25px;
}

#topnavid .navbar
{
  background-color: #299617;
}

@media (max-width: 950px)
{
  #topnavid .navbar-header
  {
    float: none;
  }

  #topnavid .navbar-toggle
  {
    display: block;
  }
}

@media screen and (min-width: 540px)
{
  #package .scroll_mobile
  {
    overflow-y: scroll;
    height: 200px;
  }
}

#package .card-deck .card
{
  margin-left: 15px;
  margin-right: 15px;
}

#package .card-deck .card:not(:last-child)
{
  margin-right: 15px;
}

#package .card-deck .card:not(:first-child)
{
  margin-left: 15px;
}

#package .card
{
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  /* max-width: 350px;*/;
}

#package .cardSet0
{
  background-color: #669999;
}

#package .cardSet1
{
  background-color: #cc6666;
}

#package .cardSet2
{
  background-color: #cc9966;
}

#package .card-content-body
{
  padding: 0.5rem;
}

#package .font_package_heading
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#package .roundB
{
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  background: radial-gradient(blue, green);
  border: 0;
  z-index: auto;
}
